/* .map {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
} */
  
div.item .label, div.item .value {
  color: #000;
  font-size: 14px;
  border: none;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend {
  line-height: 18px;
  color: #555;
}
  
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.popup-fixed {
  position: fixed;
  top: auto;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  transform: none !important;
  margin: 0;
  border-radius: 0;
}
    
.prop.mhn {
  background-color:bisque;
}
.prop.mht {
  background-color:bisque;
}
.prop.eqn {
  background-color:gold;
}
.prop.eqt {
  background-color:gold;
}
.prop.tsn { 
  background-color: darksalmon;
}
.prop.tst {
  background-color: darksalmon;
}
.prop.fl {
  background-color: coral;
}
.prop.fln {
  background-color: coral;
}
.prop.flt {
  background-color: coral;
  }
.prop.lst {
  background-color:burlywood;
}
.prop.lsn {
  background-color:burlywood;
}
.prop.lsi {
  background-color:burlywood;
}
.prop.cyn {
  background-color:darkseagreen;
}
.prop.cyi {
  background-color:darkseagreen;
}
.prop.cyt {
  background-color:darkseagreen;
}
.prop.wfi {
  background-color:darkkhaki;
}
.prop.wft {
  background-color:darkkhaki;
}
.prop.wfn {
  background-color:darkkhaki;
}

.prov_name span {
  display: none;
}
.prov_name.ab.en:after {
  content: 'Alberta'
}
.prov_name.ab.fr:after {
  content: 'Alberta'
}
.prov_name.bc.en:after {
  content: 'British Columbia'
}
.prov_name.bc.fr:after {
  content: 'Colombie Britannique'
}
.prov_name.yt.en:after {
  content: 'Yukon'
}
.prov_name.yt.fr:after {
  content: 'Yukon'
}
.prov_name.on.en:after {
  content: 'Ontario'
}
.prov_name.on.fr:after {
  content: 'Ontario'
}
.prov_name.mb.en:after {
  content: 'Manitoba'
}
.prov_name.mb.fr:after {
  content: 'Manitoba'
}
.prov_name.sk.en:after {
  content: 'Saskatchewan'
}
.prov_name.sl.fr:after {
  content: 'Saskatchewan'
}
.prov_name.qc.en:after {
  content: 'Québec'
}
.prov_name.qc.fr:after {
  content: 'Québec'
}
.prov_name.nu.en:after {
  content: 'Nunavut'
}
.prov_name.nu.fr:after {
  content: 'Nunavut'
}
.prov_name.nu.en:after {
  content: 'Nunavut'
}
.prov_name.nu.fr:after {
  content: 'Nunavut'
}
.prov_name.nt.en:after {
  content: 'North West Territories'
}
.prov_name.nt.fr:after {
  content: 'Territoires du Nord-Ouest'
}
.prov_name.nl.en:after {
  content: 'Newfoundland and Labrador'
}
.prov_name.nl.fr:after {
  content: 'Terre Neuve et Labrador'
}
.prov_name.nb.en:after {
  content: 'New Brunswick'
}
.prov_name.nb.fr:after {
  content: 'Nouveau Brunswick'
}
.prov_name.ns.en:after {
  content: 'Nova Scotia'
}
.prov_name.ns.fr:after {
  content: 'Nouvelle-Écosse'
}
.prov_name.pe.en:after {
  content: 'Prince Edward Island'
}
.prov_name.pe.fr:after {
  content: 'Île du Prince Édouard'
}
