---
layout: compress
---

{% assign lang = page.lang %} {% assign i18n = site.data.i18n %}
<!DOCTYPE html>
<html class="no-js" lang="{{ page.lang | default: 'en' }}" dir="{{ page.i18n.tmpl-lang-dir[page.lang] }}">
  <head>
    <meta charset="utf-8">
    {% include license.html %}
    <title>{{ page.title }}</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    {% include metadata.html %}
    {% include headresources.html %}
    
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/app.css" />

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
    <script src="https://code.jquery.com/jquery-1.12.2.min.js"
        integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk=" crossorigin="anonymous"></script>

    <!-- Load Esri Leaflet from CDN -->
    <script src="https://unpkg.com/esri-leaflet@2.5.3/dist/esri-leaflet.js"
        integrity="sha512-K0Vddb4QdnVOAuPJBHkgrua+/A9Moyv8AQEWi0xndQ+fqbRfAFd47z4A9u1AW/spLO0gEaiE1z98PK1gl5mC5Q=="
        crossorigin=""></script>

    <!-- Load Esri Leaflet Renderers plugin to use feature service symbology -->
    <script src="https://unpkg.com/esri-leaflet-renderers@2.1.2" crossorigin=""></script>
    
    <style>
        .map {
            width: 100%;
            height: 500px; 
        }

        div.item .label, div.item .value {
            color: #000;
            font-size: 14px;
            border: none;
        }

        .info {
            padding: 6px 8px;
            font: 14px/16px Arial, Helvetica, sans-serif;
            background: white;
            background: rgba(255,255,255,0.8);
            box-shadow: 0 0 15px rgba(0,0,0,0.2);
            border-radius: 5px;
        }

        .info h4 {
            margin: 0 0 5px;
            color: #777;
        }

        #modal {
            background-color: white;
            animation-name: progress;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            height: 4px;
            margin-top: -4px;
        }

        @keyframes progress {
            0% {
                background-color: white;
            }
            50% {
                background-color:rgba(255, 0, 0, 0.500);
            }
            100% {
                background-color: white;
            }
        }

        .legend {
            line-height: 18px;
            color: #555;
        }
        
        .legend i {
            width: 18px;
            height: 18px;
            float: left;
            margin-right: 8px;
        }

        .attr {
            width: 25%;
            float: left;
        }

        .prop {
            font-weight: bold;
            margin-right: 10px;
        }

        .prop::after {
            content: ':';
        }

        .val {
            float: right;
            margin-right: 10px;
        }

        #sidebar {
            overflow: auto;
        }

        #sidebar div.attr {
            font-size: 80%;
        }

    </style>

    <script>
    
        $( document ).ready( function() {

            var id = urlParam( 'id' ),
                config = JSON.stringify({{site.data.metadata | jsonify }}),
                metadata = JSON.parse( config ),
                filter = decodeURIComponent( urlParam( 'filter' ) ),
                map, indicator, gpkg, legend, tiles, map_url, map_layer, map_type, map_resources;

            tiles = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors, Points &copy 2012 LINZ'
            });

            for ( d in metadata.datasets ) {

                let dataset = metadata.datasets[ d ];

                if ( id.includes( dataset.id ) ) {

                    map_url = dataset.map_url;
                    map_layer = dataset.map_layer;
                    map_type = dataset.map_type;
                    map_title = dataset.title.{{lang}};
                    map_desc = dataset.description.{{lang}};
                    map_resources = dataset.resources;

                    break;
                }
                
            }

            // set the map metadata
            $( "#map-title" ).text( map_title );
            $( "#map-desc" ).text( map_desc );

            var resrcs = "";

            for ( res in map_resources ) {

                let r = map_resources[res];
                let lang = r.language == "en" ? "English" : "French";
                let btntxt = "{{lang}}" == "en" ? "Access" : "Accès";

                resrcs += '<tr><td>' + r.name + '</td><td>' + r.type + '</td><td>' + r.format + '</td><td>' + lang + '</td><td><a href="' + r.link + '" class="btn btn-primary btn-sm">' + btntxt + '</a></td></tr>';

            }

            $( '#resources > tbody' ).html( resrcs );

            if ( !map_url ) {
                $( '#map' ).toggle();
                $( '.properties-panel' ).toggle();
                return;
            }

            map = L.map( 'map', { layers: [tiles] } ).setView( [61.0666922, -107.991707], 3 );
            legend = L.control( { position: 'bottomright' } );

            

            if ( map_type == 'esri_rest' ) {

                restUrl = map_url.{{lang}} + "/" + map_layer;

                // get the field used for classifying features
                // NOTE: this is also available in the service 
                // metadata so we may not need to request is explicitly
                $.getJSON( restUrl + "?f=pjson", function( data ) {

                    var flds, fields;

                    renderer_field = data.drawingInfo.renderer.field;

                    if ( !renderer_field ) {

                        var flds = [],
                            dataFields = data.fields;
                        
                        for ( var i = 0; i < dataFields.length; i++ ) {
                        if ( dataFields[i]['name'].includes("SHAPE") ) {
                            continue;
                        }
                        flds.push( dataFields[i]['name'] );
                        }

                        fields = flds;

                    } else {
                        fields = ['OBJECTID', renderer_field]
                    }

                    var restLayer = L.esri.featureLayer({ 
                        url: restUrl,
                        fields: fields,
                        simplifyFactor: 0.25,
                        precision: 5,
                        where: filter,
                        renderer: L.canvas()
                    });

                    restLayer.on( 'loading', function( e ) {
                        $('#map').before('<div id="modal"></div>');
                    });

                    restLayer.on( 'load', function( e ) {
                        $( '#modal' ).remove();
                    });

                    restLayer.addTo( map );

                    restLayer.metadata( function ( error, metadata ) {
                        if ( error ) {
                        return;
                        }

                        var renderers = metadata.drawingInfo.renderer.classBreakInfos;

                        legend.onAdd = function ( map ) {

                        var div = L.DomUtil.create( 'div', 'info legend' );

                        if ( !renderers || renderers.length === 0 ) { 
                            return L.DomUtil.create( 'div' ); 
                        }

                        div.innerHTML += '<center><strong>' + metadata.drawingInfo.renderer.field + '</strong></center>';

                        for ( var i = 0; i < renderers.length; i++ ) {
                            div.innerHTML +=
                                '<i style="background:rgb(' + renderers[i]['symbol'].color[0] + ',' + renderers[i]['symbol'].color[1] + ',' + renderers[i]['symbol'].color[2] + ',' + renderers[i]['symbol'].color[3] + ');border-color:rgb(' + renderers[i]['symbol']['outline'].color[0] + ',' + renderers[i]['symbol']['outline'].color[1] + ',' + renderers[i]['symbol']['outline'].color[2]+ ',' + renderers[i]['symbol']['outline'].color[3] + ');border-width:' + renderers[i]['symbol']['outline'].width + 'px;"></i> ' +
                                renderers[i]['label'] + '<br>';
                        }

                        return div;

                        };

                        legend.addTo( map );
                    });

                    var oldId;

                    //   restLayer.on('mouseout', function ( e ) {
                    //     restLayer.resetFeatureStyle( oldId );
                    //   });

                    //   restLayer.on('mouseover', function ( e ) {
                    //     oldId = e.layer.feature.id;
                    //     restLayer.setFeatureStyle( e.layer.feature.id, {
                    //       fillColor: 'red',
                    //       color: 'red',
                    //       weight: 3,
                    //       fillOpacity: 0.5
                    //     });
                    //   });

                    restLayer.on('click', function ( e ) {

                        restLayer.resetFeatureStyle( oldId );

                        oldId = e.layer.feature.id;

                        restLayer.setFeatureStyle(e.layer.feature.id, {
                            fillColor: 'red',
                            color: 'red',
                            weight: 3,
                            fillOpacity: 0.5
                        });

                        // zoom to selected feature
                        // var bounds = e.layer.getBounds();
                        // map.fitBounds(bounds);

                        restLayer.query()
                        .where( "OBJECTID = " + e.layer.feature.id )
                        .run( function( error, featureCollection ) {

                            let props = featureCollection.features[0].properties,
                                string = '';

                            for ( const key in props ) {

                                if ( key == 'OBJECTID' || key == 'SHAPE_Length' || key == 'SHAPE_Area' ) {
                                    continue;
                                }

                                let cls = key.split("_")[0].toLowerCase();

                                string +=
                                    '<div class="attr"><span class="prop">' + key + '</span><span class="val">' + props[key] + '</span></div>';
                            }

                            var lang = '{{lang}}';
                        
                            $( '#sidebar' ).html( lang == 'fr' ? '<h5 class="mrgn-tp-0">Propriétés des caractéristiques sélectionnées</h5>' : '<h5 class="mrgn-tp-0">Selected feature properties</h5>' + string );

                        });
                            
                    });
                
                });
            
                // get the layer data
                // NOTE: this is also available in the service 
                // metadata so we may not need to request is explicitly
                $.getJSON( restUrl + "/query?where=" + filter + "&returnExtentOnly=true&f=pjson", function( data ) {
                    if ( !data ) {
                        return;
                    }

                    var min = L.Projection.SphericalMercator.unproject( L.point( data.extent.xmin, data.extent.ymin ) ),
                        max = L.Projection.SphericalMercator.unproject( L.point( data.extent.xmax, data.extent.ymax ) );

                    var bnds = new L.LatLngBounds( max, min );

                    map.fitBounds( bnds );
                });
        
            }

        });

        // get parameter from querystring
        function urlParam ( name ) {
            var results = new RegExp('[\?&]' + name + '=([^&#]*)')
                                .exec(window.location.search);

            return (results !== null) ? results[1] || 0 : false;
        }
    </script>
  </head>
  <body class="page" vocab="http://schema.org/" typeof="WebPage">
   
    {% include skiplinks.html %}
    {% include header.html %}
    <!-- Static header ends -->
    <main property="mainContentOfPage" class="container" typeof="WebPageElement">

      <a href="./">{{ i18n.back[lang] }}</a>
      
      <h2 id="map-title" style="text-transform:capitalize"></h2>
    
      <div id="map" class="leafmap" style="width:100%;height:500px;"></div>

      <section class="panel panel-default mrgn-tp-sm properties-panel">
        <div class="panel-body">
          <div id="sidebar">{% if lang == 'en' %}Click on a map feature to see its properties.{% endif %} {% if lang == 'fr' %}Cliquez sur un élément de la carte pour voir ses propriétés.{% endif %}</div>
        </div>
      </section>

      <h3>Abstract</h3>
      
      <p id="map-desc"></p>

      <h3>Resources</h3>

      <table id="resources" class="table table-striped">
          <thead>
            <tr>
                <th scope="col" class="col-sm-6">Resource Name</th>
                <th scope="col">Resource Type</th>
                <th scope="col">Format</th>
                <th scope="col">Language</th>
                <th scope="col" class="col-sm-1">Links</th>
            </tr>
          </thead>
          <tbody></tbody>
      </table>

    </main>
    <!-- Static footer starts -->
    {% include footer.html %}
    {% include footerresources.html %}
  </body>
</html>

