.MAP {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#canada_3978_generalized_1:hover,
#canada_3978_generalized_2:hover,
#canada_3978_generalized_3:hover,
#canada_3978_generalized_4:hover,
#canada_3978_generalized_5:hover,
#canada_3978_generalized_6:hover,
#canada_3978_generalized_7:hover,
#canada_3978_generalized_8:hover,
#canada_3978_generalized_9:hover,
#canada_3978_generalized_10:hover,
#canada_3978_generalized_11:hover,
#canada_3978_generalized_12:hover,
#canada_3978_generalized_13:hover,
#canada_3978_generalized_14:hover,
#canada_3978_generalized_15:hover,
#canada_3978_generalized_16:hover,
#canada_3978_generalized_17:hover,
#canada_3978_generalized_18:hover,
#canada_3978_generalized_19:hover,
#canada_3978_generalized_20:hover,
#canada_3978_generalized_21:hover,
#canada_3978_generalized_22:hover,
#canada_3978_generalized_23:hover,
#canada_3978_generalized_24:hover,
#canada_3978_generalized_25:hover,
#canada_3978_generalized_26:hover,
#canada_3978_generalized_27:hover,
#canada_3978_generalized_28:hover,
#canada_3978_generalized_29:hover,
#canada_3978_generalized_30:hover,
#canada_3978_generalized_31:hover,
#canada_3978_generalized_32:hover,
#canada_3978_generalized_33:hover,
#canada_3978_generalized_34:hover,
#canada_3978_generalized_35:hover,
#canada_3978_generalized_36:hover,
#canada_3978_generalized_37:hover,
#canada_3978_generalized_38:hover,
#canada_3978_generalized_39:hover,
#canada_3978_generalized_40:hover,
#canada_3978_generalized_41:hover,
#canada_3978_generalized_42:hover,
#canada_3978_generalized_43:hover,
#canada_3978_generalized_44:hover,
#canada_3978_generalized_45:hover,
#canada_3978_generalized_46:hover,
#canada_3978_generalized_47:hover,
#canada_3978_generalized_48:hover,
#canada_3978_generalized_49:hover,
#canada_3978_generalized_50:hover,
#canada_3978_generalized_52:hover,
#canada_3978_generalized_53:hover,
#canada_3978_generalized_54:hover,
#canada_3978_generalized_55:hover,
#canada_3978_generalized_56:hover,
#canada_3978_generalized_57:hover,
#canada_3978_generalized_58:hover,
#canada_3978_generalized_59:hover,
#canada_3978_generalized_60:hover,
#canada_3978_generalized_61:hover,
#canada_3978_generalized_63:hover,
#canada_3978_generalized_64:hover,
#canada_3978_generalized_65:hover,
#canada_3978_generalized_66:hover,
#canada_3978_generalized_67:hover,
#canada_3978_generalized_68:hover,
#canada_3978_generalized_69:hover,
#canada_3978_generalized_70:hover,
#canada_3978_generalized_71:hover,
#canada_3978_generalized_72:hover,
#canada_3978_generalized_73:hover,
#canada_3978_generalized_74:hover,
#canada_3978_generalized_75:hover
 {
    stroke: #333 !important;
    stroke-width:4px;
    stroke-linejoin: round;
    fill: #333 !important;
    cursor: pointer;
}

#BC:hover, #AB:hover {
    stroke: #002868 !important;
    stroke-width:2px;
    stroke-linejoin: round;
    fill: #002868 !important;
    cursor: pointer;
}

#SK:hover {
    stroke: #002868 !important;
    stroke-width:2px;
    stroke-linejoin: round;
    fill: #002868 !important;
    cursor: pointer;
}

#MB:hover {
    stroke: #002868 !important;
    stroke-width:2px;
    stroke-linejoin: round;
    fill: #002868 !important;
    cursor: pointer;
}

#ON:hover {
    stroke: #002868 !important;
    stroke-width:2px;
    stroke-linejoin: round;
    fill: #002868 !important;
    cursor: pointer;
}

#QC:hover {
    stroke: #002868 !important;
    stroke-width:2px;
    stroke-linejoin: round;
    fill: #002868 !important;
    cursor: pointer;
}

#NB:hover {
    stroke: #002868 !important;
    stroke-width:2px;
    stroke-linejoin: round;
    fill: #002868 !important;
    cursor: pointer;
}

#NS:hover {
    stroke: #002868 !important;
    stroke-width:2px;
    stroke-linejoin: round;
    fill: #002868 !important;
    cursor: pointer;
}

#PE:hover {
    stroke: #002868 !important;
    stroke-width:2px;
    stroke-linejoin: round;
    fill: #002868 !important;
    cursor: pointer; 
}

#NL:hover {
    stroke: #002868 !important;
    stroke-width:2px;
    stroke-linejoin: round;
    fill: #002868 !important;
    cursor: pointer;
}

#YT:hover {
    stroke: #002868 !important;
    stroke-width:2px;
    stroke-linejoin: round;
    fill: #002868 !important;
    cursor: pointer; 
}

#NT:hover {
    stroke: #002868 !important;
    stroke-width:2px;
    stroke-linejoin: round;
    fill: #002868 !important;
    cursor: pointer;
}

#NU:hover {
    stroke: #002868 !important;
    stroke-width:2px;
    stroke-linejoin: round;
    fill: #002868 !important;
    cursor: pointer;
}

text {
    visibility: hidden;
}
path:hover text {
 visibility: visible;
}